<!DOCTYPE html>
<html lang="en" ng-app="directoryApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js" charset="utf-8"></script>
  <script src="directory.js" charset="utf-8"></script>
  <title></title>
</head>
<body ng-controller="directoryController">
  <input type="text" ng-model="search">
  <ul>
    <li ng-repeat="item in list | filter:search">
      {{item.name}} - {{item.age}}
    </li>
  </ul>
</body>
</html>
