<!DOCTYPE html>
<html lang="en" ng-app="directoryApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js" charset="utf-8"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js" charset="utf-8"></script>
  <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js" charset="utf-8"></script>
  <script src="directory.js" charset="utf-8"></script>
  <title></title>
  <link rel="stylesheet" href="styles.css" media="screen" title="no title" charset="utf-8">
</head>
<!-- <body ng-controller="directoryController as dirList"> -->
<body>
  <main ui-view></main>

  <!-- <input type="text" ng-model="search">
  <ul ng-if="dirList.toggle" class="fade">
    <li ng-repeat="item in dirList.list | filter:search" ng-class="item.age > 29 ? 'over-thirty' : 'under-thirty'" ng-include src="'person.html'"></li>
  </ul>

  <button ng-if="!dirList.toggle" ng-click="dirList.toggle = true">Show names</button>
  <button ng-if="dirList.toggle" ng-click="dirList.toggle = false">Hide names</button>

  <form ng-submit="dirList.addPerson()">
    <input type="text" placeholder="Name" ng-model="dirList.name">
    <input type="number" placeholder="Age" ng-model="dirList.age">
    <input type="submit" value="Add">
  </form> -->
</body>
</html>
