<h1>Homepage</h1>
<hello-world></hello-world>

<input type="text" ng-model="search">
<ul ng-if="dirList.toggle" class="fade">
  <li ng-repeat="item in dirList.list | filter:search" ng-class="item.age > 29 ? 'over-thirty' : 'under-thirty'" ng-include src="'person.html'"></li>
</ul>

<button ng-if="!dirList.toggle" ng-click="dirList.toggle = true">Show names</button>
<button ng-if="dirList.toggle" ng-click="dirList.toggle = false">Hide names</button>

<form ng-submit="dirList.addPerson()">
  <input type="text" placeholder="Name" ng-model="dirList.name">
  <input type="number" placeholder="Age" ng-model="dirList.age">
  <input type="submit" value="Add">
</form>
